name: CI

on:
  push:
    branches:
      - '**'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22

      - name: Check
        run: make check

      - name: Lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.54

      - name: Test
        run: make test
